<%= form_for @note, :html => { :class => "form-horizontal" } do |f| %>

  <% if @note.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'col-md-2 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :title, :class => 'form-control input-md' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body, :class => 'col-md-2 control-label' %>
    <div class="col-md-4">
      <%= f.text_area :body, :class => 'form-control input-md' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type, :class => 'col-md-2 control-label' %>
    <div class="col-xs-1">
      <%= f.radio_button :archived, false, :checked => 'checked', :class => 'input-md' %> Inbox<br />
      <%= f.radio_button :archived, true, :class => 'input-md' %> Archived
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-md-2 control-label">
    </div>
    <div class="col-md-4">
      <%= f.submit nil, :class => 'btn btn-primary ' %>
    </div>
  </div>

<% end %>
