<%= form_for @task, :html => { :class => "form-horizontal task" } do |f| %>

    <% if @task.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, :class => 'col-md-2 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :description, :class => 'form-control input-md' %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :have_to, :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.check_box :have_to, :class => 'checkbox' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :task_state_id, :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= collection_select :task, :task_state_id, TaskState.all, :id, :state_name, {:include_blank => ''}, {:class => 'form-control'} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :date, :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :date, {:id => 'task-date', :class => 'form-control input-md'} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :hour, :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :date_hour, {:id => 'task-date-hour', :class => 'form-control input-md'} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :due, :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.check_box :date_due, :class => 'checkbox' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :project_id, :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= collection_select :task, :project_id, Project.not_completed, :id, :name, {:include_blank => ''}, {:class => 'form-control'} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :pomodorro_sessions, :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :pomodorro_sessions, :class => 'form-control input-md' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :additional_info, :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :additional_info, :class => 'form-control input-md' %>
      </div>
    </div>
  <br>
  <div class="form-group">
    <div class="col-md-2 control-label">
    </div>
    <div class="col-md-4">
      <%= f.submit nil, :class => 'btn btn-primary ' %>
    </div>
  </div>

<% end %>
